#profile-page table tr.acf-field {
    margin: 0;
    background: #ffffff;
    padding-left: 10px!important;
    border: 3px solid #41A528;
}
#profile-page table tr td.acf-label {
    padding-left: 10px!important;
}
