$color__primary--green: #41A528;
$color__primary--blue: #172882;
$color__white: #fff;
$color__body: #404040;
$color__grey: #F9F9FB;
$color__field-border:#E8E8E8;
$color__icons:#F8F8F8;
$color__vat: #A7A7A7;
$color__review:#7B7B7B;
$color__footer: #bbbbbb;
$color__sidebar:#7d7d7d;
$color__dashed: #dcdcdc;
$color__yellow:#F4E648;
$color__faint-blue: #F4F5F9;
$color__red:#ec3737;
