.service {
    padding: 50px 0;
    background: $color__grey;
    @include e('content') {
        @include default();
        padding-bottom: 20px;
    }
    @include e('container') {
        @include make-flex();
    }
    @include e('entry') {
        @include make-col(12);
        margin-bottom: 20px;
        @include media-breakpoint-only(sm) {
            margin-right: 11px;
            @include make-col(5.8);
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-only(md) {
            margin-right: 11px;
            @include make-col(5.8);
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-right: 11px;
            @include make-col(3.9);
            margin-right: 8px;
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-right: 13px;
        }
    }
    @include e('link') {
        img {
            width: 100%;
            height: 150px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            object-fit: cover;
        }
    }
    @include e('box') {
        background: $color__white;
        padding: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.02);
    }
    @include e('heading') {
        @include heading($margin-bottom: 5px);
    }
    @include e('heading-link') {
        color: $color__primary--blue;
        @extend %link;
        &:hover {
            color: $color__primary--blue;
        }
    }
    @include e('text') {
        @include font($margin-bottom: 10px);
    }
    @include e('more') {
        @extend %link;
        @include font($color__primary--green,$margin-bottom: 0,$font-weight: 600);
        &:hover {
            color: $color__primary--green;
            .service__icon {
                padding-left: 4px;
            }
        }
    }
    @include e('icon') {
        vertical-align: middle;
        padding-left: 2px;
        @extend %link;
    }
}
